.colorize-black{
    color: #000000;
}

.add-input{
    width:40%; margin-left:3%; margin-top:3%;
}

.full-div{
    min-height: 827px;
}

.add-li{
    margin-left:3%;
}

.dp-pic{
    position: absolute;
    left: 10px;
    top: -180px;
    border-radius: 50%;
}

.org-desc-head{
    max-height: 150px;
    overflow: auto;
}

